<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--配置DispatcherServlet-->
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--绑定Spring配配置文件-->
        <init-param>
            <param-name>contextConfigLocation</param-name> <!--从路径中寻找-->
            <param-value>classpath:springmvc.xml</param-value> <!--包路径下springmvc-servlet.xml文件-->
        </init-param>
        <!--配置启动级别-->
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <!--注意这里不用写/*, 因为/*会匹配.jsp页面，但我们一般不让jsp页面通过这里-->
        <url-pattern>/</url-pattern>  <!--让所有的访问路径都经过DispatcherServlet-->
    </servlet-mapping>


    <!-- Spring提供的过滤器可解决前端传输乱码问题   -->
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>  <!--这里我们需要过滤jsp文件中的乱码传输所以用/*-->
    </filter-mapping>

</web-app>