<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个Dao/Mapper接口, mybatis的核心配置文件会查找到这里-->
<mapper namespace="dao.TeacherMapper">

    <resultMap id="TeacherStudent" type="Teacher">
        <id property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="students" javaType="List" ofType="Student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
<!--            这里每个学生的teacher属性也可以进行association映射-->
<!--            <association property="teacher" javaType="Teacher">-->
<!--                <result property="id" column="tid"/>-->
<!--                <result property="name" column="tname"/>-->
<!--            </association>-->
        </collection>
    </resultMap>

    <select id="getTeacher" resultMap="TeacherStudent">
        SELECT  s.id sid,s.name sname,t.name tname, s.tid
        from student s,teacher t
        where s.tid = t.id and t.id = #{teachId}
    </select>

</mapper>
